<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Pengaturan Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Pengaturan 1-->
  <ion-card>
    <ion-card-content>
      <ion-icon name="key" style="margin-right:4%"></ion-icon>
      <!-- <img src="./assets/icon.png"> -->
      <strong>Ganti Password</strong>
    </ion-card-content>
  </ion-card>

    
</ion-content>