<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Ganti Bahasa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-radio-group value="biff">
        
      <ion-item>
        <ion-label>Bahasa Indonesia</ion-label>
        <ion-radio slot="start" value="ind"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Bahasa Inggris</ion-label>
        <ion-radio slot="start" value="eng"></ion-radio>
      </ion-item>

    </ion-radio-group>

  </ion-list>

  <ion-button fill="outline" expand="block">
    Ganti Bahasa
  </ion-button>

</ion-content>
